:host {
  margin: 1rem;
}

a{
  text-decoration: none;
  color: black;
}

.wrapper {
  display: flex;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;

  span{
    text-align: center;
  }

  button {
    border: none;
    background-color: white;
  }
  button:hover{
    color: orange;
    cursor: pointer;
  }

  i {
    font-size: larger;
    font-weight: bolder;
  }
}

.header {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  span{
    margin-left: 0.8rem;
    font-size: smaller;
    color: grey;
  }

  h3{
    margin: 0;
  }
  p-tag{
    padding: 1rem;
  }
}

.body {
  p {
    margin-top: 0;
  }
}
:host {
  ::ng-deep .p-card-content {
    padding: 0;
  }
}

.up{
  color: blue;
}

.down{
  color: orange;
}

