<p-card>
  <div class="wrapper">
    <div class="score">
        <button (click)="onUpvote()"><i [ngClass]="{'active': voteValue === 0 }" class="pi pi-angle-up"></i></button>
        <span>{{ inputData[0].score }}</span>
        <button (click)="onDownvote()"><i class="pi pi-angle-down"></i></button>
    </div>
    <div>
      <div class="header">
        <h3>{{ inputData[0].projectname | uppercase}} </h3>
        <span> &#183; {{inputData[1].name}}</span>
        <span> &#183; {{inputData[0].createdat | date}} </span>
      </div>
      <div class="body">
        <p>{{ inputData[0].description }}</p>
      </div>
    </div>
  </div>
</p-card>
