
  <p-card *ngIf="project">
    <div class="wrapper">
      <div class="score">
          <button (click)="onUpvote(project.projectid)"><i [ngClass]="{'up': voteValue === 0 }" class="pi pi-caret-up"></i></button>
          <span>{{ project.score }}</span>
          <button (click)="onDownvote(project.projectid)"><i [ngClass]="{'down': voteValue === 1 }" class="pi pi-caret-down"></i></button>
      </div>
      <a *ngIf="!fromProject" [routerLink]="['/project',project.projectid]">
        <div>
          <div class="header">
            <h3>{{ project.projectname | uppercase}} </h3>
            <span> &#183; {{project.name}}</span>
            <span> &#183; {{project.createdat | date}} </span>
          </div>
          <div class="body">
            <p>{{ project.description }}</p>
          </div>
        </div>
      </a>
    </div>
  </p-card>

