:host {
  margin: 1rem;
}

a{
  text-decoration: none;
  color: black;
}

.wrapper {
  display: flex;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;

  span{
    text-align: center;
  }

  button {
    border: none;
    background-color: white;
    size: 1.5rem;
  }
  button:hover{
    color: orange;
    cursor: pointer;
  }

  i {
    font-size: larger;
    font-weight: bolder;
  }
}

.header {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  span{
    margin-left: 0.8rem;
    font-size: smaller;
    color: grey;
    button{
      border: none;
      background-color: white;
      z-index: 10;
      &:hover{
        text-decoration: underline;
        color: blue;
      }
    }
  }
  button{
    border: none;
    background-color: white;
    &:hover{
      z-index: 10;
      text-decoration: underline;
      color: blue;
    }
  }

  h3{
    margin: 0;
    padding: 0;
  }
  p-tag{
    padding: 1rem;
  }

}

.body {
  p {
    margin-top: 0;
  }
}
:host {
  ::ng-deep .p-card-content {
    padding: 0;
  }
}

.up{
  color: blue;
}

.down{
  color: orange;
}

.container{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.right-col{
  display: flex;
  min-width: 30%;
  flex-direction: column;
  p-chip{
    margin-left: 0.8rem;
  }
  h3{
    margin: 0;
  }
  span{
    margin-bottom: 1rem;
  }
  a{
    color: white;
    max-width: 8rem;
    margin-bottom: 1rem;
  }
  button{
    margin-right: 0.5rem;
  }
}

form > span {
  margin-bottom: 2rem;
}
form > span:first-child {
  margin-top: 2rem;
}

.chips{
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.hide{
  display: none;
}


