<div *ngIf="task" >
    <h2 style="color: grey">{{ task.title }}</h2>
    <p> {{ task.content }}</p>



  <div *ngIf="(isAdmin$ | async) || ((project | async)?.userid == (uid | async)) && (isLoggedIn$ | async)">
    <p-dropdown
      [options]="users"
      [filter]="true"
      [(ngModel)]="assignedUser"
      optionLabel="name"
      placeholder="{{ getPlaceholder() }}"
      (onChange)="updateTask(task)">
    </p-dropdown>
    <button pButton icon="pi pi-trash" class="p-button-sm p-button-outlined p-button-danger" (click)="deleteTask(task.taskid)"></button>
  </div>
  <p class="assigned">Assigned To: {{getPlaceholder()}}</p>
  <p-divider></p-divider>
</div>


<!-- [(ngModel)]="assignedUser"  -->
