<p-toolbar>
  <div class="p-toolbar-group-left">
    <p-selectButton (onChange)="onSortChange()" [options]="sortOptions" [(ngModel)]="sortValue"  optionLabel="label" optionValue="value">
      <ng-template let-item>
        <i [class]="item.icon"></i>
        <span [ngStyle]="{marginLeft: '0.5rem'}">{{ item.label }}</span>
      </ng-template>
    </p-selectButton>
  </div>
  <div class="p-toolbar-group-right" >
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input [ngStyle]="{marginRight: '0.5rem'}" type="text" pInputText placeholder="Search" [(ngModel)]="searchValue" />
    </span>

    <app-create-post></app-create-post>
  </div>

</p-toolbar>

<div class="main">
  <div>
    <app-post *ngFor="let data of inputData | filter: searchValue"
              [project]="data"
              [currentUserVotes]="getVotes()"
              (tagSearchValue)="tagClicked($event)"
    >
    </app-post>
  </div>
  <app-my-projects [myProjects]="myProjects"></app-my-projects>
</div>

