<!--<p-dropdown [options]="sortOptions" [(ngModel)]="selectedOption"  (onChange)="onDropdownChange()"></p-dropdown>-->

<p-toolbar>
  <div class="p-toolbar-group-left">
    <p-selectButton (onChange)="onSortChange()" [options]="sortOptions" [(ngModel)]="sortValue"  optionLabel="label" optionValue="value">
      <ng-template let-item>
        <i [class]="item.icon"></i>
        <span [ngStyle]="{marginLeft: '0.5rem'}">{{ item.label }}</span>
      </ng-template>
    </p-selectButton>
  </div>
  <div class="p-toolbar-group-right" >
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input [ngStyle]="{marginRight: '0.5rem'}" type="text" pInputText placeholder="Search" [(ngModel)]="searchValue" />
    </span>

    <button pButton icon="pi pi-plus" [routerLink]="['create-post']" type="button" label="Create Post" ></button>
  </div>

</p-toolbar>

<div class="main">
  <div>
    <app-post *ngFor="let data of inputData | filter: searchValue"
              [project]="data"
              [currentUserVotes]="getVotes()">
    </app-post>
  </div>
  <app-my-projects [myProjects]="myProjects"></app-my-projects>
</div>

