nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;

  a {
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-size: smaller;
  }
}

.nav-item {
  margin: 0rem 0.5rem;
}

nav > a:first-child {
  margin-right: auto;
  font-weight: bolder;
  font-size: large;
}

.align-right {
  margin-left: auto;
}

:host {
  ::ng-deep .p-card-content {
    padding: 0;
  }
}
