
<header>
    <p-card>
    <nav>
        <a routerLink="home" class="nav-item">OpenCollab</a>
        <a href="" class="nav-item">My Projects</a>
        <a href="" class="nav-item">Saved Projects</a>
        <div class="align-right">
            <div *ngIf="(status | async) == null">
                <app-sign-in class="nav-item"></app-sign-in>
                <app-sign-up class="nav-item"></app-sign-up>
            </div>
            <app-profile *ngIf="(status | async) != null"  class="nav-item"></app-profile>
        </div>
    </nav>
    </p-card>
</header>
