
<div *ngIf="(isAdmin$ | async) || ((project | async)?.userid == (uid | async)) && (isLoggedIn$ | async)">
  <mat-toolbar>
      <button class="p-button-success" (click)="newTask()" pButton icon="pi pi-plus"></button>
  </mat-toolbar>
</div>

<!-- CATEGORIEs -->

<div class="container-wrapper">
  <div class="container todo">
    <h2>To Do</h2>

    <mat-card
      cdkDropList
      id="todo"
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doneList, inProgressList]"
      (cdkDropListDropped)="drop($event)"
      class="list">
      <p class="empty-label" *ngIf="todo.length === 0">Empty list</p>
      <!-- <app-task (edit)="editTask('todo', $event)" *ngFor="let task of todo" cdkDrag [task]="task"></app-task> -->
      <app-task (deleteEvent)="recieveDelete()" *ngFor="let task of todo" cdkDrag [task]="task"></app-task>

    </mat-card>
  </div>

  <div class="container in-progress">
    <h2>In Progress</h2>

    <mat-card
      cdkDropList
      id="inProgress"
      #inProgressList="cdkDropList"
      [cdkDropListData]="inProgress"
      [cdkDropListConnectedTo]="[todoList, doneList]"
      (cdkDropListDropped)="drop($event)"
      class="list">
      <p class="empty-label" *ngIf="inProgress.length === 0">Empty list</p>
      <!-- <app-task (edit)="editTask('inProgress', $event)" *ngFor="let task of inProgress" cdkDrag [task]="task"></app-task> -->
      <app-task (deleteEvent)="recieveDelete()" *ngFor="let task of inProgress" cdkDrag [task]="task"></app-task>
    </mat-card>
  </div>

  <div class="container done">
    <h2>Done</h2>

    <mat-card
      cdkDropList
      id="done"
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList, inProgressList]"
      (cdkDropListDropped)="drop($event)"
      class="list">
      <p class="empty-label" *ngIf="done.length === 0">Empty list</p>
      <!-- <app-task (edit)="editTask('done', $event)" *ngFor="let task of done" cdkDrag [task]="task"></app-task> -->
      <app-task  (deleteEvent)="recieveDelete()" *ngFor="let task of done" cdkDrag [task]="task"></app-task>
    </mat-card>
  </div>
</div>

<!-- getting the project id from the kanban component -->
<!-- <app-task-dialog [pid]="projID"></app-task-dialog> -->




