<p-dialog [(visible)]="display" [modal]="true">
  <p-card header="Enter Project Info:">
    <form [formGroup]="createPostForm" (ngSubmit)="onSubmit()">
          <span class="p-float-label">
              <input id="projectName" type="text" formControlName="projectName" pInputText>
              <label for="projectName">Project Name</label>
          </span>
          <span class="p-float-label">
              <textarea pInputTextarea [rows]="10" [cols]="50"  id="projectDescription" type="text" formControlName="projectDescription" ></textarea>
              <label for="projectDescription">Project Description</label>
          </span>
          <div class="chips">
            <label for="chips">Project Tags (max 3)</label>
            <p-chips id="chips" [allowDuplicate]="false" [max]="3" [placeholder]="'eg: Angular React Typescript etc'" formControlName="tags"></p-chips>
          </div>
          <span class="p-float-label">
              <input id="github" type="text" formControlName="github"  pInputText>
              <label for="github">Github Link</label>
          </span>
      <button label="Publish" pButton class="p-button-sm"></button>
    </form>
  </p-card>
</p-dialog>
<button pButton (click)="showDialog()" type="button" label="Create Post" class="p-button-outlined" icon="pi pi-plus"></button>


